* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}

body {
  background: #0a0a0a;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #000;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

.cart-icon {
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(black, #111);
}

.hero h1 {
  font-size: 50px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  background: white;
  border: none;
  cursor: pointer;
}

/* PRODUTOS */
.products {
  padding: 40px;
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #111;
  padding: 15px;
  width: 220px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
}

.price {
  color: #00ff88;
  margin: 10px 0;
}

/* BOTÃO */
button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

/* CARRINHO */
.cart {
  position: fixed;
  right: -400px;
  top: 0;
  width: 300px;
  height: 100%;
  background: #111;
  padding: 20px;
  transition: 0.3s;
}

.cart.active {
  right: 0;
}

/* CHECKOUT */
.checkout {
  display: none;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  padding: 30px;
}
